{% extends "base.html" %}

{% block title %}Graph{% endblock %}
{% block page_header %}Graph{% endblock %}

{% block head %}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
{% endblock %}

{% block content %}
    Start date:
    {% for year in years %}
        <a href="?start={{ year }}-01-01">{{ year }}</a> {% if not forloop.last %}|{% endif %}
    {% endfor %}
    <div id="container" style="width:100vw; height:95vh;"></div>

    <script>
        Highcharts.stockChart('container', {
            chart: {
                zoomType: 'x'
            },
            rangeSelector: {
                buttons: [
                    {type: 'day', count: 3, text: '3d'},
                    {type: 'week', count: 1, text: '1w'},
                    {type: 'month', count: 1, text: '1m'},
                    {type: 'month', count: 6, text: '6m'},
                    {type: 'year', count: 1, text: '1y'},
                    {type: 'all', text: 'All'}
                ],
                selected: 5
            },
            title: {
                text: 'Daily portfolio worth and cost basis',
                align: 'left'
            },
            legend: {
                enabled: true
            },
            series: [
                {% for graph in graphs %}
                {
                    {% if graph.id %}id: '{{ graph.id }}',{% endif %}
                    {% if graph.linked_to %}linkedTo: '{{ graph.linked_to }}',{% endif %}
                    name: '{{ graph.name }}',
                    data: {{ graph.data }},
                    pointStart: {{ point_start }},
                    pointInterval: 86400000,  // 1 day
                    tooltip: {
                        valueDecimals: 2,
                        valueSuffix: ' {{ graph.suffix }}'
                    },
                },
                {% endfor %}
            ]
        });
    </script>
{% endblock %}
